<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>solarcalc</title>

    <link rel="stylesheet" href="static/css/ol.css" />
    <link rel="stylesheet" href="static/css/ol-ext.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="padding: 0; margin: 0">
    <div style="width: 100vw; text-align: center">
        <h1>Welcome to solarcalc!</h1>
    </div>

    <div id="map" class="map" style="width: 100vw; height: 80vh; position: absolute"></div>
    
    <script src="static/js/ol.js"></script>
    <script src="static/js/ol-ext.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>
